#default-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.4;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

*{
  opacity: initial;
}

img[title="programmerIcon"]{
  width:100px;
}
