/* set font byakan for website */
@font-face {
  font-family: "yekan";
  src: url(./../fonts/Yekan/Yekan.eot);
  src: url(./../fonts/Yekan/Yekan.eot?#iefix) format("embedded-opentype"), url(./../fonts/Yekan/Yekan.woff) format(“woff”), url(./../fonts/Yekan/Yekan.ttf) format(“truetype”), url(./../fonts/Yekan/Yekan.svg#BYekan) format("svg");
  font-weight: normal;
  font-style: normal
}
*{
  font-family: "yekan";
}
/* end set font for websiete */
#default-background {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  opacity: 0.4;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

*{
  opacity: initial;
}

img[title="programmerIcon"]{
  width:100px;
}

[v-cloak] { display:none; }

